
terraform/storageacc1/.terraform.lock.hcl
terraform/storageacc1/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.90.0/windows_amd64/terraform-provider-azurerm_v2.90.0_x5.exe
*.tfstate
*.json
*.exe
*.backup
*.hcl
